
.container{
    background-color: aquamarine;
    border: 3px solid black;

}
.item1{
    background-color: rgb(206, 15, 15);

}
.item2{
    background-color: green;
    
}
.item3{
    background-color: blue;
}
  

  


