@charset "utf-8";


body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}
@media (max-width: 800px) {
	#contenedor { 
		width: 100%;
    }
	nav {
		width: 100%;
	}
	
	section {  
		width: 100%;
		margin: auto;
    }
	aside {  
		width: 100%;
		margin: auto;
	
   }

}