body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: rgb(54, 54, 194);
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: oblique;
    display: inline-block;

    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: rgb(108, 169, 210);
    margin-bottom: 20px;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgb(31, 13, 117);
}

footer {
    background-color: azure;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}
.holder{
    max-width: 960px;
    margin:0 auto;
}

nav ul li a.activo {
    background-color: rgb(89, 89, 232);
}