body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;

}


header {
    background-color: rosybrown;
    color: rgb(185, 20, 20);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;



}

header h1 {
    padding: 10px;
    position: relative;
    bottom: 10px;
    font-size: 40px;
    font-style: italic;
    font-weight: 50;
    display: inline-block
}

header form {
    display: flex;
}


header form button {
    color: rgb(160, 34, 34);
    border-radius: 20px;

}

header input {
    border-radius: 20px;
}



nav {
    width: 100%;
    background-color: rgb(44, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 3px 6px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: rgb(237, 227, 229);
    text-decoration: none;
    padding: 5px;
    text-align: center;
    display: block;
    justify-content: space-between;
    margin-right: 20px;
}

nav ul li a:hover {
    background-color: rgb(194, 74, 74);
}

footer {
    background-color: rgb(233, 120, 120);

}

nav ul li a.activo {
    background-color: rgb(223, 71, 94);
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: rgb(25, 18, 212);
    font-weight: 400;
}

nav ul li a.activo {
    background-color: rgb(194, 74, 74);
}


/*Stylos para Home*/
.bienvenidos {
    width: 75%;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

.testimonios {
    width: 25%;
    padding: 16px;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos {
    font-size: 20px;
}


.testimonios .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}

.testimonios .autor {
    font-size: 5px;
    text-align: center;
    display: block;
    margin: 12px 0;
}

/*Fin Home*/
/*Inicio Nosotros*/
.historia p {
    font-size: 20px;
}

.profesionales {
    display: flex;
    justify-content: space-between;
}

.profesional {
    border: 1px solid;
    border-radius: 5px;
    width: 24%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    background-color: rgb(222, 130, 140);
}

.profesional img {
    border-radius: 40%;
    max-width: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.profesional h5,
.profesional h6 {
    margin: 0;
    font-weight: normal;
    color: white;
}

.profesional h5 {
    margin-top: 5px;
}

.profesional h6 {
    font-size: 18px;
    font-style: italic;
}

.profesional p {
    color: rgb(61, 59, 60);
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-style: italic;
    padding-top: 15px;
}

/*Fin Nosotros*/
/*Inicio Restauraciones*/
.restauraciones {
    border: 1px solid #cb6363;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
    padding-top: 10px;
}

.restauraciones h4 {
    font-size: 20px;
    font-style: italic;
    border-bottom: 10px solid #a01040;
    padding-bottom: 10px;
}

.restauraciones img {
    border-radius: 13px;


}

/*Fin Restauraciones*/

/*Inicio Galeria*/
.galeria img {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #d66767;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2%;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
}

/*Fin Galeria*/
/*Inicio Contacto*/
.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
}

.formulario p input,
.formulario p textarea {
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px 10px;
}

.formulario textarea {
    resize: none;
    height: 150px;
}

.formulario form input [type="submit"] {
    background: #dc9a9a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;

}


/*Fin Contacto*/




@media (max-width*: 768px) {


    /* estilos para tabletas */

    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-right: 0;
        margin-bottom: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Estilos para celulares */
@media only screen and (max-width:767px) {
    header {
        flex-direction: column;
        align-items: center;

    }

    nav {
        margin-right: 0;
        margin-bottom: 20px;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav a {
        font-size: 1, 5rem;

    }

    main {
        padding: 10px;
    }
}